/*body{
 background-color:lightsalmon ;
}
.productos {
    display: flex;
    flex-wrap: wrap;
  }
  
  .producto {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
    justify-content: center;
    text-align: center;
    background-color: white;
  }
  
  .producto img {
    max-width: 100%;
  }
  
  .carrito {
    margin-top: 50px;
  }
  
  #lista-carrito {
    list-style: none;
    padding: 0;
  }
  
  #lista-carrito li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  #vaciar-carrito {
    margin-right: 10px;
  }

  img{
    width: auto;
    height: 200px;
  }
  
  h1{
    text-align: center;
  }
#titulo{
 background-color: green;
 border: 4px dotted black;
}
#cantidades{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: aquamarine;
  margin-left: 35%;
  bottom: 20%;
}


  */
  body{
    background-color:lightsalmon ;
   }
   .agregar{
    background:    #ff0000;
    background:    linear-gradient(#000000, #ff0000 50%, #000000);
    border:        3px solid #556699;
    border-radius: 21px;
    box-shadow:    0 1px #ff1515;
    padding:       5px 12px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 25px/1 "Lobster Two", cursive;
    text-align:    center;
   }
   .quitar{
    background:    #ff0000;
    background:    linear-gradient(#000000, #ff0000 50%, #000000);
    border:        3px solid #556699;
    border-radius: 21px;
    box-shadow:    0 1px #ff1515;
    padding:       5px 12px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 25px/1 "Lobster Two", cursive;
    text-align:    center;
    align-items: center;
   }

   .productos {
       display: flex;
       flex-wrap: wrap; 
       
       align-items: center;  
       justify-content: center;
     }
     
     .producto {
       margin: 10px;
       padding: 10px;
       border: 1px solid #ccc;
       width: 200px;
       justify-content: center;
       text-align: center;
       background-color: white;
       justify-content: space-between;
       border: 1px solid black;
     }
     
     .producto img {
       max-width: 100%;
     }
     
     #resultado {
       margin-top: 50px;
       border: 1px solid black;
       background-color: white;
       height: 180px;
       margin: 20px;
      padding-left: 15px;
     }
     
     #lista-carrito {
       list-style: none;
       padding: 0;
     }
     
     #lista-carrito li {
       display: flex;
       justify-content: space-between;
       margin-bottom: 10px;
     }
     
    
   
     img{
       width: auto;
       height: 200px;
     }
     
     h1{
       text-align: center;
     }
   #titulo{
    background-color: green;
    border: 4px dotted black;
   }
  
   .cantidad {
    display: flex;
     flex-direction: row;
     align-items: center;
     text-align: center;
     background-color: aquamarine;
     margin-left: auto;
     bottom: 20%;
     justify-content: space-around;
     border: 1px solid black ;
   }

   #comprar{
    background:    #073763;
background:    linear-gradient(#073763, #15d798);
border:        3px solid #556699;
border-radius: 21px;
box-shadow:    0 1px #ff1515;
padding:       12px 49px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 25px/1 "Playfair Display", serif;
text-align:    center;
   }

   